This is pythonnotebook

In [10]:
print("hello world")

hello world

VARIABLE

In [8]:
x=2
print(type(x))

<class 'int'>

In [9]:
y=4.5
print(x+y)

6.5

In [11]:
%whos

Variable   Type     Data/Info
-----------------------------
x          int      2
y          float    4.5

In [12]:
a,b,c,d=3,5,6.9,3

In [13]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.9
d          int      3
x          int      2
y          float    4.5

In [16]:
print(a,c)

3 6.9

OPERATORS

In [17]:
sum=a+b

In [18]:
print(sum)

8

In [19]:
type(sum)

int

In [20]:
10/3

3.3333333333333335

In [21]:
10//3

3

In [23]:
s1="hello"
s2="12"
print(s1+s2)

hello12

BOOLEAN

In [24]:
a=True
b=True
c=False

In [25]:
%whos

Variable   Type     Data/Info
-----------------------------
a          bool     True
b          bool     True
c          bool     False
d          int      3
s1         str      hello
s2         str      12
sum        int      8
x          int      2
y          float    4.5

In [26]:
print(a and b)
print(a and c)
print(c and a)

True
False
False

In [1]:
print((not (2!=3)and True) or (False and True))

False

In [ ]:
print(round(4.6788))

In [3]:
print(round(5.7899372,3))

5.79

In [4]:
print(round(5.7845372,3))

5.785

In [5]:
print(divmod(27,5))

(5, 2)

In [4]:
g=divmod(39,4)

In [5]:
print(g)
type(g)

(9, 3)

tuple

In [9]:
print(isinstance(1,int))
print(isinstance(1.6,int))

True
False

In [10]:
pow(2,4,7)

2

In [13]:
(2**4)

16

In [14]:
x=input("enter no")
type(x)

enter no34

str

convert string into int

In [15]:
x=int(x)
type(x)

int

In [16]:
a=int(input("enter no"))
type(a)

enter no23

int

pow?--- to know how to use power fn

CODE

In [21]:
#Which is greater no

a=int(input("enter first no: "))
b=int(input("enter no: "))
if a>b:
    print(a)
else:
    print(b)

enter first no: 34
enter no: 23
34

In [22]:
#Which is greater no using if only

a=int(input("enter first no: "))
b=int(input("enter no: "))
if a>b:
    print(a)
if b>a:
    print(b)

enter first no: 2
enter no: 4
4

In [25]:
#Which is greater no using if, else , elif

a=int(input("enter first no: "))
b=int(input("enter no: "))
if a>b:
    print("a is greater than b" )
elif a==b:
    print("a and b are equal")
else:
    print("b greater than a")

enter first no: 25
enter no: 29
b greater than a

In [1]:
#print square of a no
n=int(input("enter no of iterations"))
i=1
while(i<n):
    print(i**2)
    i=i+1
    
print("loop done")

enter no of iterations4
1
4
9
loop done